<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #fdaea4;">
    <h1>The E-Commerce website is used to solve the problem of people not being able to find items in stores available. It provides an easy way to sell products to a large customer base.
        Most online market platforms have a “fixed price” policy, which takes away one of the most important features of commerce - the ability to negotiate prices. With the element of bargaining, a product can be bought for less than its initial listed price. Adding a negotiation feature would innovate online marketplaces, be seen as a major benefit to many consumers, and undoubtedly increase e-commerce use.
        </h1>
</body>
</html>