<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
    <link rel="stylesheet" href="/static/css/login.css">
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

</head>
<h2 class="fmessage">
	{% for message in get_flashed_messages() %}
		{{ message }}
	{% endfor %}
</h2>
<body>
	
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="login">
				<form method="POST" action="">
					<label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="password1" placeholder="Password" required="">
                    <button>Login</button>
				</form>
				<p class="sublink">Don't have an Account yet? <a href="/signup">Here</a><p>
			</div>
	</div>
</body>
</html>