<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
    <link rel="stylesheet" href="/static/css/login.css">
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="POST" action="">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="username" placeholder="User name" required="">
                    <input type="text" name="fname" placeholder="First Name" required="">
                    <input type="text" name="lname" placeholder="Last Name" required="">
                    <input type="email" name="email" placeholder="Email" required="">
                    <!-- <label for="password1">Password</label> -->
					<input type="password" id="password1" name="pswd2" placeholder="Password" required="">
                    <!-- <label for="password2">Password (confirm)</label> -->
                    <input type="password" id="password2" name="pswd2" placeholder="Confirm Password" required="">
					<button>Sign up</button>
					<p class="sublink">Already have an Account? Click <a href="/login">Here</a><p>
				</form>
			</div>
            
            
	</div>
</body>
</html>